@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

*{
	font-family: 'Viaoda Libre', cursive;
}
.home .content h1{
	font-size:5rem;
	color:var(--black);
}
.home .content h1 span{
	color:blue;
}
.home .content h3{
	font-size:4rem;
	color:black;
	
}
.section{
	overflow:hidden;
}
.button{
	height:3.5rem;
	width:15rem;
	background-color:blue;
	color:red;
	font-size:1.7rem;
	text-transform:capitalize;
	cursor:pointer;
	position:relative;
	z-index:0;
	overflow:hidden;
	margin:1rem 0;
}
.button::before{
	content:'';
	position:absolute;
	top:-100%;left:0;
	height:100%;
	width:100%;
	background-color:black;
	transition:.2s linear;
	z-index:-1;
}
.button :hover:before{
	top:0%;
	
}
.about .fas-fa-ambulance{
	background-image:url('asset/photos/ambulance.png')
}
.button:hover{
	box-shadow:.1rem .5rem blue;
	            0 .3rem .5rem red;
}
.about{
	background:Whisper;
}
.about .content .box{
	margin:3rem 0;
	
}
.about .content .box h3{
	font-size:2.5rem;
	color:black;
}
.about{
	margin-top:5px;
}
.about .content .box h3 i{
	padding:0 1rem;
	color:blue;
}
.about .content .box p {
	font-size:1.7rem;
	padding-left:6rem;
	color:#666;
}
.heading{
	text-align:center;
	font-size:4rem;
	padding:1rem;
	padding-top:8rem;
	color:black;
}
.heading span{
	color:black;
}
.facility .box-container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	padding-bottom:3rem;
}
.facility{
	min-height:100vh;
}
.facility .box-container .box{
	height:20rem;
	width:30rem;
	margin:3rem;
	overflow:hidden;
}
.facility .box-container .box  img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.facility .box-container .box :hover  img{
	text-transform:scale(1.3);
}
.review{

	background-position:center;
	background-size:cover;
	/* background-color:black; */
	background:linear-gradient(#e66465, #9198e5);
	 background-repeat: no-repeat;
	
}

.review .heading{
	color:white;
}
.review .box-container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	padding-bottom:5rem;
}
.review .box-container .box{
	background:#fff;
	width:30rem;
	margin:5rem 1rem;
	padding:1.5rem;
	position:relative;
}
.review .box-container .box img{
	position:absolute;
	bottom:-7rem;
	left:-1rem;
	height:5rem;
	width:5rem;
	border-radius:50%;
	object-fit:cover;
}


.review .box-container p{
	font-size:1.4rem;
	color:black;
}
.review .box-container .box h3{
	text-align:end;
	color:black;
	display:block;
	font-size:1.5rem;
}
.review .box-container .box span{
	text-align:end;
	color:white;
	display:block;
	font-size:1.5rem;
}
.review .box-container .box ::before{
	content:'';
	position:absolute;
	bottom:-1rem;
	left:.4rem;
	height:2rem;
	width:2rem;
	background:#fff;
	transform:rotate(45deg);
}
.counter .box-container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	padding:2rem 0;
	
}
.counter .box-container .box{
	margin:2rem 5rem;
	text-align:center;
}
.counter .box-container .box i{
	color:blue;
	font-size:5rem;
}
.counter .box-container .box span{
	color:black;
	font-size:3rem;
	display:block;
	padding:1rem 0;
}
.counter .box-container .box h3{
	color:#666;
}
.contact{
	background:black;
	
	
}
.contact .heading{
	color:#fff;
	
}
.contact form{
	text-align:center;
}
.contact form .inputBox{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.contact form .inputBox  input ,select{
	height:4rem;
	width:49%;
	padding:0 1rem;
	margin:1rem 0;
	font-size:1.7rem;
	color:black;
}
.contact form textarea{
	height:20rem;
	resize:none;
	padding:1rem;
	font-size:1.5rem;
	width:100%;
}
.contact form  input[type="submit"]{
	width:20rem;
	
}
.contact form input[type="submit"]:hover{
	background:black;
}

.contact span{
	color:blue;
}
.contact form .inputBox  input ,select{
	width:100%;
}
.contact form  input[type="submit"]{
    width:100%;
	background-color:blue;
	color:green;
	font-size:20px;
}
.tab2 iframe{
	background:#fff;
	width:30rem;
	margin:5rem 0.5rem;
	padding:1.5rem;
	position:relative;
	padding-top:5px;
}





